{% extends "base.html" %}
{% load static %}


{% block page_title %}Тесты{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/table.css' %}">
{% endblock %}

{% block content %}
<section >
    <h1 class="h1">Тесты</h1>
    <a href="{% url 'test-add' %}" class="btn mt-40">Добавить</a>
    <div class="table-wrapper mt-40">
        <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Владелец</th>
            </tr>
        </thead>
        <tbody>
            {% for object in objects %}
            <tr>
                <td>
                    <a href="{% url 'test' object.pk %}" class="table__object-url">{{ object.id }}</a>
                </td>
                <td>{{ object.name|default:"-" }}</td>
                <td>
                    <a href="{% if object.owner %}{% url 'teacher' object.owner.pk %}{% endif %}" class="table__foreign-key">{{ object.owner }}</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>

</section>
{% endblock %}