{% extends "base.html" %}
{% load util %}
{% load static %}


{% block page_title %}Урок{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/select.css' %}">
{% endblock %}

{% block content %}
<section class="section-teachers">
    <h1 class="h1 h1_center">Урок</h1>

    <form action="." method="POST" class="form form_left form_full-w mt-40" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form__item">
            <label for="{{ form.name.id_for_label }}" class="form__label">{{ form.name.label }}</label>
            {{ form.name }}
        </div>
        <div class="form__item">
            <label for="{{ form.subject.id_for_label }}" class="form__label">{{ form.subject.label }}</label>
            <div class="form__input select" role="close">
                <div class="select__selected">---</div>
                <div class="select__options">
                    {% for subject in subjects %}
                    <div class="select__option" data-value="{{ subject.pk }}">{{ subject }}</div>
                    {% endfor %}
                </div>
                <div class="select__icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="10" viewBox="0 0 18 10" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M8.25532 9.5127L0.642136 1.89952C0.251612 1.50899 0.251612 0.875826 0.642136 0.485302C1.03266 0.0947777 1.66583 0.0947777 2.05635 0.485302L8.98336 7.41231L16.3121 0.466567C16.713 0.0866574 17.3459 0.10364 17.7258 0.504499C18.1057 0.905357 18.0887 1.53829 17.6879 1.9182L9.65486 9.53141C9.26318 9.90536 8.64248 9.89986 8.25753 9.51491L8.25532 9.5127Z" fill="#B8B8B8"/>
                    </svg>
                </div>
                {{ form.subject }}
            </div>
        </div>
        <div class="form__item">
            <label for="{{ form.test.id_for_label }}" class="form__label">{{ form.test.label }}</label>
            <div class="form__input select" role="close">
                <div class="select__selected">---</div>
                <div class="select__options">
                    <div class="select__option" data-value="">---</div>
                    {% for test in tests %}
                    <div class="select__option" data-value="{{ test.pk }}">{{ test }}</div>
                    {% endfor %}
                </div>
                <div class="select__icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="10" viewBox="0 0 18 10" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M8.25532 9.5127L0.642136 1.89952C0.251612 1.50899 0.251612 0.875826 0.642136 0.485302C1.03266 0.0947777 1.66583 0.0947777 2.05635 0.485302L8.98336 7.41231L16.3121 0.466567C16.713 0.0866574 17.3459 0.10364 17.7258 0.504499C18.1057 0.905357 18.0887 1.53829 17.6879 1.9182L9.65486 9.53141C9.26318 9.90536 8.64248 9.89986 8.25753 9.51491L8.25532 9.5127Z" fill="#B8B8B8"/>
                    </svg>
                </div>
                {{ form.test }}
            </div>
        </div>
        <div class="form__item">
            <label for="{{ form.video.id_for_label }}" class="form__label">{{ form.video.label }}</label>
            {{ form.video }}
        </div>
        <div class="form__item">
            <label for="{{ form.photos.id_for_label }}" class="form__label">{{ form.photos.label }}</label>
            <div class="form__input select" role="close">
                <div class="select__selected"></div>
                <div class="select__options">
                    {% for photo in photos %}
                    <div class="select__option select__option-multiple" data-selected="" data-value="{{ photo.pk }}">{{ photo.name }}</div>
                    {% endfor %}
                </div>
                <div class="select__icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="10" viewBox="0 0 18 10" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M8.25532 9.5127L0.642136 1.89952C0.251612 1.50899 0.251612 0.875826 0.642136 0.485302C1.03266 0.0947777 1.66583 0.0947777 2.05635 0.485302L8.98336 7.41231L16.3121 0.466567C16.713 0.0866574 17.3459 0.10364 17.7258 0.504499C18.1057 0.905357 18.0887 1.53829 17.6879 1.9182L9.65486 9.53141C9.26318 9.90536 8.64248 9.89986 8.25753 9.51491L8.25532 9.5127Z" fill="#B8B8B8"/>
                    </svg>
                </div>
                {{ form.photos }}
            </div>
        </div>
        <div class="form__item">
            <label for="{{ form.text.id_for_label }}" class="form__label">{{ form.text.label }}</label>
            {{ form.text }}
        </div>
        <div class="form__item">
            <button type="submit" class="btn">Добавить</button>
        </div>

    </form>

</section>

<script>
    $("select").prop('hidden', true)
    $("select#{{ form.subject.id_for_label }} option:first").remove()
    $("select#{{ form.subject.id_for_label }} option[value='{{group.owner.pk}}']").prop('selected', true)


    $(".select").on('click', function() {
        if ($(this).attr("role") == "close") {
            $(this).attr("role", "open")
        } else {
            $(this).attr("role", "close")
        }
    })

    $(".select__option-multiple").on('click', function() {
        let selected = $(this).parent().parent().children(".select__selected")
        let hiddenSelect = $(this).parent().parent().children("select")

        if ($(this).attr("data-selected") == "selected") {
            $(this).attr("data-selected", "")

            let value = ''
            $(".select__option-multiple[data-selected='selected']").each(function(i, elem) {
                value += `${elem.innerHTML} |`
            })
            selected.html(value)

            hiddenSelect.children(`option[value='${$(this).attr('data-value')}']`).prop("selected", false)
        } else {
            selected.html(`${selected.html()} ${$(this).html()} | `)
            $(this).attr("data-selected", "selected")
            hiddenSelect.children(`option[value='${$(this).attr('data-value')}']`).prop("selected", true)
        }
    })

    $(".select__option:not(.select__option-multiple)").on('click', function() {
        $(this).parent().parent().children(".select__selected").html($(this).html())
        $(this).parent().parent().children("select").children('option').prop("selected", false)
        $(this).parent().parent().children("select").children(`option[value='${$(this).attr('data-value')}']`).prop("selected", true)
    })

    // Confirm
    $(".confirm.confirm-ajax").on('click', function(event) {
        var req = confirm("Вы уверены?");
        if (req){
            var url = $(this).attr("data-url");
            $.get(url);
        }
        event.preventDefault();
    })

    $(".confirm").on('click', function(e) {
        var req = confirm("Вы уверены?");
        if (!req){
            event.preventDefault();
        }

    })
</script>
{% endblock %}